name: DevSecOps Pipeline

on:
  workflow_dispatch: 
  push:
    branches: [ "main" ]

jobs:

  sonar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '17'

      - name: Sonar Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=praveenaprabaharan20_testpypi
            -Dsonar.organization=praveenaprabaharan20
            -Dsonar.host.url=https://sonarcloud.io


  # snyk:
  #   runs-on: ubuntu-latest
  #   steps:
      
  #     - name: Install Snyk
  #       run: npm install -g snyk
      
  #     - name: Snyk Scan
  #       run: snyk test
  #       env:
  #         SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}



  trivy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Trivy File Scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: fs
          scan-ref: .
          severity: HIGH,CRITICAL
